<div class="panel panel-default">
    <div class="panel-heading" style="height: 150px;" >
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="bold"></h2>
            <div class="pull-left">
                <img src="" alt="" class="image-responsive">
            </div>
            <div class="pull-right align-self-end">
                <button class="btn btn-primary btn-sm edit-contact-link">Edit</button>
                <button class="btn btn-danger btn-sm delete-contact-link">Delete</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <p>Email: </p>
            <p>Phone: </p>
        </div>
    </div>    
</div>