<div class="panel panel-default">
  <div class="panel-heading">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="bold">Contacts</h2>
      <a class="btn btn-primary btn-sm create-contact-link" [routerLink]="['new']">Create New Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <cms-contact-item 
        *ngFor="let contact of contacts" 
        [contact]="contact" 
        [routerLink]="['/contacts', contact.id]">
      </cms-contact-item>
    </div>
  </div>
</div>